body {
  background-color: white;
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #413fb5;
  width: 247px;
  font-size: 30px;
  margin: 75px 0;
}
.login-section {
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
  border-radius: 7px;
  width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-left: 68.5px;
  width: 420px;
}
.titlle {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-top: 18px;
}
.button {
  display: flex;
  flex-direction: column;
  }

.sign-in {
  border: 1.5px solid #413fb5;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  background-color: white;
  padding: 10px 0;
  font-family: "rubik"
;
}


.text-divider {
    display: flex;
    justify-content: space-around;
    padding: 32px 0px;
}
.span {

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  }

.divider {
  width: 30%;
}


.facebook {
  width: 27px;
  height: 27px;
  padding-right: 24px;
}
.input-group {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/* inputy */
.input-in {
            padding: 10px;
            border: 2px solid;
            margin: 10px;
        }
    
        .input-in>label {
            padding-left: 5px;
            padding-right: 5px;
            position: relative;
            top: -20px;
            left: 20px;
            background-color: white;
        }
    
        .input-in>input {
            border: none;
        }

.name {
  position: relative;
  display: flex;
}

#first-name:focus + label {
  position: absolute;
  left: 10px;
  top: -8px;
  background-color: #fff;
}

.sign-in-free {
  background-color: #413fb5;
  font-family: "Rubik", sans-serif;
}
.log-in {
  color: #64606a;
}

.loigin-img {
  width: 496px;
  height: 790px;
}
