body {
    background-color: white;
    font-family: 'Rubik', sans-serif;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #413fb5;
  width: 247px;
}
.login-section {
  box-shadow: 0px 0px 7px rgba(100, 96, 106, 0.2);
  border-radius: 7px;
  width: 1080px;
  display: flex;
  flex-direction: row;
  }

  .input {
    position: relative;
  }
  
  #first-name:focus + label {
    position: absolute;
    left: 10px;
    top: -8px;
    background-color: #fff;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .sign-in {
    background-color: #413FB5;
;
  }
  .log-in {
    color: #64606A;

  }